#h1index, #h1Sform{
    margin: 40px;
    
}

#h1Show{
    margin: 40px;
}

.indBtn{
    margin: 20px;
    align-items: center;
}

.fontIndxCou{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}



.cad:hover{
    background-color: #ebebeb;
}

.fontIndxInfo{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #545454;
}

.fontIndxBest{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.align-B{
    margin: 15px;
}
