
<div class="card mb-3">
  <%= image_tag(@place.pic, class: "card-img-top", alt: "country Image") %>
  <div class="card-body">
    <h2 class="card-title"><%= @place.info %></h2>
    <p class="card-text"><a href="<%= @place.vid %>" target="_blank"><button class="btn btn-info">Video</button></a></p>
  </div>
</div